@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700,800&display=swap");
* {
  box-sizing: border-box; }

/*-------------- FONTS ---------------*/
/*-------------  BUTTONS ---------------*/
/*-------------  NAV ---------------*/
/*-------------  MENU ---------------*/
/*-------------  HEADER ---------------*/
body {
  margin: 0;
  /*--------------------- EMPIEZA NAV -----------------------*/
  /*---------------------  TERMINA NAV -----------------------*/
<<<<<<< HEAD
  /*---------------------  EMPIEZA HEADER -----------------------*/
  /*--------------------- TERMINA HEADER -----------------------*/
  /*--------------------- EMPIEZA ABOUT US -----------------------*/ }
=======
  /*---------------------  EMPIEZA HEADER -----------------------*/ }
>>>>>>> f56f96bf025615c4783c8ae605c5e811963e6c8c
  body nav {
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff; }
    body nav img {
      width: 80px;
      height: auto; }
  body .links {
    font-family: "Montserrat", sans-serif;
    color: #031880;
    font-weight: 600px;
    text-decoration: none; }
    body .links ul {
      display: flex;
      list-style-type: none; }
    body .links li {
      list-style-type: none;
      padding: 10px; }
    body .links i {
      display: none;
      color: #031880; }
  body #menu {
    background-color: rgba(19, 39, 57, 0.8);
    color: #ffffff;
    width: 200px;
    position: absolute;
    top: 0;
    left: -200px;
    height: 100%;
    transition: all 0.5s; }
    body #menu li {
      list-style-type: none;
      font-family: "Open Sans", sans-serif;
      line-height: 35px; }
    body #menu a {
      color: #fff;
      list-style-type: none;
      font-family: "Montserrat", sans-serif;
      line-height: 35px; }
  body #overly {
    background-color: rgba(19, 39, 57, 0.8);
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    display: none; }
  @media (max-width: 800px) {
    body .links li {
      display: none; }
    body .links i {
      display: block; } }
  body #menu:target {
    left: 0px; }
  body #overly:target {
    display: block; }
  body li:hover {
    color: #1868cf; }
  body header {
    height: 600px;
    display: flex;
    align-items: center;
    background-color: #1445b3;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center; }
  body .solutions {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px; }
  body h2 {
    font-size: 48px;
    font-weight: 700px; }
  body .subrayado {
    text-decoration-line: underline; }
  body .botones {
    display: flex; }
  body .botones button {
    width: 160px;
    height: 40px;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    background-color: #1445b3;
    border: 2px solid white;
    border-radius: 20px;
    display: flex;
    padding: 10px 32px;
    margin: 0px 30px 0px 0px; }
  body button:first-child {
    background: #007bff;
    border: 2px solid #007bff; }
  body button:hover {
    background-color: #1445b3;
    border: 2px solid #fff;
    transition: 0.7s; }
  body .imagenheader {
    display: flex;
    align-items: center;
    width: 400px;
    padding-left: 20px;
    padding-right: 70px; }
    body .imagenheader img {
      height: 50%;
      width: auto; }

/*-------footer-------*/
footer {
  display: flex;
  justify-content: space-evenly;
  padding: 30px;
  font-size: 14px;
  text-align: justify;
  background-color: #00428a;
  color: #fff;
  font-family: "Montserrat", sans-serif; }

.container {
  display: flex;
  flex-wrap: wrap; }

.container > div {
  margin: 15px; }

.wayne {
  width: 350px;
  margin-top: 0px; }

h1 {
  letter-spacing: 0px;
  font-size: 34px;
  font-weight: normal; }

.useful-links {
  width: 180px; }

.social {
  width: 250px; }

.suscription {
  width: 300px; }

span {
  font-weight: bold; }

i {
  color: #fff;
  border-radius: 50%; }

.fab {
  padding: 8px;
  margin: 2px;
  border-radius: 50%;
  background-color: #007bff;
  color: #fff; }

form {
  display: flex;
  margin: 0; }

input[type=email] {
  border: none;
  width: 65%;
  height: 35px;
  font-size: 16px;
  line-height: 16px;
  padding: 0; }

input[type="submit"] {
  background: #007bff;
  border: none;
  width: 35%;
  height: 35px;
  text-align: center;
  font-size: 14px;
  color: #fff;
  transition: 0.5s;
  cursor: pointer;
  padding: 0; }

i:hover {
  background-color: #0669d3;
  transition: 0.5; }

ul {
  padding-inline-start: 0px; }

li, a {
  line-height: 24px;
  list-style: none;
  color: #fff;
  text-decoration: none; }

a:hover {
  color: lightskyblue;
  transition: 0.5; }

@media (max-width: 600px) {
  .container {
    flex-direction: column; } }

/* @media (max-width: 1000px) {
    .container {
        display: flex;
<<<<<<< HEAD
        align-items: center; }
      body header div button:first-child {
        background: #007bff;
        border: 2px solid #007bff; }
      body header div button:hover {
        background-color: #1445b3;
        border: 2px solid #fff;
        transition: 0.7s; }
    body header .solutions {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center; }
    body header .botones {
      width: 50%;
      display: flex;
      justify-content: center; }
    body header .imagenheader {
      height: 100%;
      width: auto;
      padding-left: 20px;
      padding-right: 70px; }
      body header .imagenheader img {
        height: 50%;
        width: auto; }
  body #about-us {
    background-color: #fff;
    height: 1200px; }
    body #about-us p {
      font-family: "Montserrat", sans-serif; }
=======
        flex-wrap: wrap;
        width: 50%;
   } */
.copyright {
  background-color: darkblue;
  padding-top: 40px;
  display: block;
  text-align: center;
  color: #fff;
  font-size: 10px;
  margin: 0; }

/*--------footer-----*/
>>>>>>> f56f96bf025615c4783c8ae605c5e811963e6c8c
