@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
    box-sizing: border-box;
}

$background-color-nav: #fff;


$background-color-header: #1445b3;
$text-color-header: #fff;

$background-color-button: #1445b3;
$text-color-button: #fff;
/*--------------------- FONTS -----------------------*/
$font-p: 'Open Sans', sans-serif;
$font-title: “Montserrat”, sans-serif;
/*--------------------- FONTS -----------------------*/

body{
    margin: 0;
    

    
    /*--------------------- HEADER -----------------------*/
    header {
        height: 700px;
        display: flex;
        justify-content: flex-start;

        div {
            background-color: $background-color-header;
            color: $text-color-header;
            font-family: $font-title;
            display: flex;
            justify-content: center;
            align-items: center;
            flex: 1;

            h2 {
                font-weight: 700;
            }


            button{
                height: 50px;
                width: 80%;
                color: $text-color-button;
                font-family: $font-p;
                font-weight: 400;
                background-color: $background-color-button;
                border-radius: 15px;
                display: flex;
                justify-content: center;
            }
        }

        .imagenheader {
          
            width: 70px;
            height: auto;
            img {
                height: 100%;
                width: auto;
            }
        }
       
    }

   /*--------------------- HEADER -----------------------*/
}