@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700,800&display=swap");
* {
  box-sizing: border-box; }

/*-------------- FONTS ---------------*/
/*-------------  BUTTONS ---------------*/
/*-------------  NAV ---------------*/
/*-------------  MENU ---------------*/
/*-------------  HEADER ---------------*/
body {
  margin: 0;
  /*--------------------- EMPIEZA NAV -----------------------*/
  /*---------------------  TERMINA NAV -----------------------*/
  /*---------------------  EMPIEZA HEADER -----------------------*/ }
  body nav {
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff; }
    body nav img {
      width: 80px;
      height: auto; }
  body .links {
    font-family: "Montserrat", sans-serif;
    color: #031880;
    font-weight: 600px;
    text-decoration: none; }
    body .links ul {
      display: flex;
      list-style-type: none; }
    body .links li {
      list-style-type: none;
      padding: 10px; }
    body .links i {
      display: none;
      color: #031880; }
  body #menu {
    background-color: rgba(19, 39, 57, 0.8);
    color: #ffffff;
    width: 200px;
    position: absolute;
    top: 0;
    left: -200px;
    height: 100%;
    transition: all 0.5s; }
    body #menu li {
      list-style-type: none;
      font-family: "Open Sans", sans-serif;
      line-height: 35px; }
    body #menu a {
      color: #fff;
      list-style-type: none;
      font-family: "Montserrat", sans-serif;
      line-height: 35px; }
  body #overly {
    background-color: rgba(19, 39, 57, 0.8);
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    display: none; }
  @media (max-width: 800px) {
    body .links li {
      display: none; }
    body .links i {
      display: block; } }
  body #menu:target {
    left: 0px; }
  body #overly:target {
    display: block; }
  body li:hover {
    color: #1868cf; }
  body header {
    height: 600px;
    display: flex;
    align-items: center;
    background-color: #1445b3;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center; }
  body .solutions {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px; }
  body h2 {
    font-size: 48px;
    font-weight: 700px; }
  body .subrayado {
    text-decoration-line: underline; }
  body .botones {
    display: flex; }
  body .botones button {
    width: 160px;
    height: 40px;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    background-color: #1445b3;
    border: 2px solid white;
    border-radius: 20px;
    display: flex;
    padding: 10px 32px;
    margin: 0px 30px 0px 0px; }
  body button:first-child {
    background: #007bff;
    border: 2px solid #007bff; }
  body button:hover {
    background-color: #1445b3;
    border: 2px solid #fff;
    transition: 0.7s; }
  body .imagenheader {
    display: flex;
    align-items: center;
    width: 400px;
    padding-left: 20px;
    padding-right: 70px; }
    body .imagenheader img {
      height: 50%;
      width: auto; }
